.picker-scroller {
    border-top: #3F53B4 5px solid;
    border-bottom: #3F53B4 5px solid;
    border-left: #3F53B4 1px solid;
    border-right: #3F53B4 1px solid;
}

#page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

*:focus {
    /* outline-color: #3F53B4;
    outline-width: 2px; */
    outline: none
}

.time-picker-dialog {
    border-radius: 5px;
    margin: auto;
    width: 80%;
}

.btn-holder {
    display: flex;
    margin: 16px 8px;
}

.confirm-btn {
    color: #3F53B4 !important;
    font-size: 1.2em !important;
    flex-grow: 5;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
}

.decline-btn {
    color: #3F53B4 !important;
    font-size: 1.2em !important;
    flex-grow: 5;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
}

.header {
    padding-left: 16px;
}