.map-container {
  background: teal !important;
  align-items: center;
  justify-content: center;
}

.route-detail {
  background: cornflowerblue;
  height: 65%;
  width: 100%;
  /* use this so that padding for width 100 will be fixed */
  box-sizing: border-box;
  padding: 16px;
  position: absolute;
  bottom: 0;
}

.detail {
  background: aqua;
  margin-top: 16px;
}

.flex-container {
  display: flex;
  align-items: stretch;
}

.route-detail-flex-container {
  display: flex;
  align-items: stretch;
  background: #999999;
}

.my-trip-tag {
  flex-grow: 1;
  color: #888888;

}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}


.car-icon-container {
  flex-grow: 1;
  background: orangered;
  margin: 1em 0;
}

.car-icon {
  background: red;
  vertical-align: middle;
}

.cancel-trip-button {
  flex-grow: 9;
  text-align: right;
  color: red;
}

.line-detail {
  flex-grow: 15;
}

.my-trip {
  background: teal;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.selection-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "depart-icon depart-location depart-location depart-location depart-location depart-location depart-location depart-location""arrive-icon arrive-location arrive-location arrive-location arrive-location arrive-location arrive-location arrive-location"". . . . . . . .";
  min-height: 0;
  max-width: 100%;
}

.arrive-icon {
  grid-area: arrive-icon;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.depart-icon {
  grid-area: depart-icon;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.depart-location {
  grid-area: depart-location;
  padding: 10px;
  margin-bottom: 8px;
}

.arrive-location {
  grid-area: arrive-location;
  padding: 10px;
}

.line {
  border-left: 3px solid #4a4a4a;
  height: 100%;
  margin-left: 48%;
}

/* start booking button */
.start-booking-button-container {
  z-index: inherit;
  position: absolute;
  bottom: 0;
  background: blueviolet;
  width: calc(100% - 16px);
  margin: 0 8px 16px 8px;
  text-align: center;
  border-radius: 5px;
}

.start-booking-button {
  font-size: 15px;
  padding: 8px;
  color: white;
}